
<div class="linea"></div>

<div class="container mt-4 mb-4">


    <!-- Botón de Volver -->
    <button class="btn btn-outline-secondary mb-3" (click)="goBack()">
        <fa-icon [icon]="faLeftArrow"></fa-icon> Volver
    </button>

    <!-- Detalles del Producto -->
    <div class="product" *ngIf="product" class="row">
        <div class="col">
            <img class="product-image" src="{{product.image_url}}" alt="{{ product.title }}">
        </div>
        <div class="col">
            <h2><b>{{ product.name }}</b></h2>
            <br/>
            <p>{{ product.text }}</p>
            <br/>
            <h4><b>Price:</b></h4> <p class="texto">${{ product.price }}</p>
            <br/>
            <h4><b>Category:</b> </h4><p class="texto">{{ product.category }}</p>
        </div>
    </div>
</div>

<div class="linea secundaria "></div>


<!-- Componente de Celulares -->
<div class="container">
    <app-celulares></app-celulares>
</div>
