<div class="contenedor-admin">
    <button (click)="openCreateProductModal()">Crear Producto</button>
    <div class="row">
        <div class="col-md-3 pb-2" *ngFor="let product of products">
            <div class="movie-card">
                <img class="card-img mt-3" [src]="product.image_url" alt="Card image">
                <div class="card-text">
                    <h5 class="card-title">{{ product.name | truncate:25 }}</h5>
                    <p class="card-text mb-3 price"> $ {{ product.price }}</p>
                </div>
            </div>
        <button (click)="openEditProductModal(product)">Editar</button>
        <button (click)="deleteProduct(product.id)">Eliminar</button>
      </div>
    </div>
  </div>
  

  <div class="row">
    
       
       
            


  <!-- Modal para crear/editar producto -->
  <app-product-modal
    *ngIf="showModal"
    [product]="selectedProduct"
    (save)="handleSave($event)"
    (close)="showModal = false"
  ></app-product-modal>