<div class="row">

  <!-- <div *ngFor="let product of products" class="card">
    <h3>{{ product.name }}</h3>
    <p>Precio: {{ product.price | currency }}</p>
  </div> -->
  
  <div class="col-md-3 pb-2" *ngFor="let product of products">
    <div class="movie-card" role="button" [routerLink]="['/producto', product.id]">
        <img class="card-img mt-3" [src]="product.image_url" alt="Card image">
        <div class="card-text">
            <h5 class="card-title">{{ product.name | truncate:25 }}</h5>
            <p class="card-text mb-3 price"> $ {{ product.price }}</p>
        </div>
    </div>
  </div>