.product-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 999;
    width: 38vw;    
}
  
  /* Ocultar el modal por defecto */
  .product-modal[hidden] {
    display: none;
  }

  