/* You can add global styles to this file, and also import other style files */
$black-color: #000000;
$green-color: #94FC13;
$background-color: white;
$normal-text-color: black;

body{
    background-color: $background-color !important; 
    color: $normal-text-color !important;
}